<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check the domain!</title>
  <style>
    body {
    background-color: rgb(228, 237, 232);
    }

    .header {
    font-size: 40px;
    }

  </style>
</head>
<body>
<div style="text-align:center; color: white;background-color:rgb(22,8,90);">
   <p class="header" > WRF-Online</p>
  </div>
<center>
<h2> 3) Model etki alanını kontrol edin. <br>Bir önceki sayfaya giderek girdiğiniz değerleri değiştirebilirsiniz.</h2>

    <form method="post" action="{{ url_for('run_wrf_bp.domain') }}">
        <div>
            <br>
            <hr>
        <img src="{{ url_for('run_wrf_bp.static', filename='wps_show_dom.png') }}" alt="wpsdomain" style="width:30%">
        </div>
        <br>
        <hr>
        <input style="background-color:#7d7688; cursor:pointer;" value="Geogrid ve Metgrid programlarını çalıştırın"
               type="submit"
               name="domaincheck"
               id="domaincheck">
<br><br><br>
    </form>
</center>
</body>
</html>