{% extends "base.html" %}
{% block content %}
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <div class="loader"></div>
    <p>Geogrid ve Metgrid çalıştırılıyor. Lütfen bekleyiniz.</p>
  </div>

</div>

<h2> 3) Model etki alanını kontrol edin. <br>Bir önceki sayfaya giderek girdiğiniz değerleri değiştirebilirsiniz.</h2>
{# TODO: Lose below form and use a linked button #}
<form method="post" action="{{ url_for('run_wrf_bp.domain') }}">
    <div>
        <br>
        <img src="{{ url_for('run_wrf_bp.static', filename='wps_show_dom.png') }}" alt="wpsdomain"
             style="width: 30%; height: 30%;">
    </div>
        <br>
        <input style="background-color:#7d7688; cursor:pointer;" value="Geogrid ve Metgrid programlarını çalıştırın"
               type="submit"
               name="domaincheck"
               id="domaincheck"
               onclick="var modal = document.getElementById('myModal');modal.style.display = 'block';">
<br><br><br>
</form>
{% endblock content %}