{% extends 'base.html' %}
{% block content %}
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="loader"></div>
        <p>Verileriniz indiriliyor. Lütfen bekleyiniz.</p>
    </div>
</div>

<h2>{{ form.title }}</h2>
<form method="post" action="{{ url_for('run_wrf_bp.run_wrf') }}">
    {{ form.csrf_token }}
    <br>
    {% if form.errors %}
        <ul class="errors">
            {% for error in form.errors %}
            <li style="">{{ form.errors[error][0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table>
        <tbody>
        <tr>Simülasyon Başlangıç Tarihi &nbsp &nbsp &nbsp &nbsp
            {{ form.start_date }}
        </tr>
        <br>
        <br>
        <tr>Simülasyon Başlangıç Saati &nbsp &nbsp &nbsp
            {% for subfield in form.start_hour %}
            {{ subfield }}{{ subfield.label }} &nbsp
            {% endfor %}
        </tr>
        <br>
        <br>
        <tr>Simülasyon Bitiş Tarihi &nbsp &nbsp &nbsp &nbsp
            {{ form.end_date }}
        </tr>
        <br>
        <br>
        <tr>&nbsp &nbsp &nbsp Simülasyon Bitiş Saati &nbsp &nbsp
            {% for subfield in form.end_hour %}
            {{ subfield }}{{ subfield.label }} &nbsp
            {% endfor %}
        </tr>
        <br>
        <br>
        <tr>Model Girdi Zaman Aralığı &nbsp
            {{ form.model_input_interval_in_hours }} saat
        </tr>
        <br>
        <br>
        <tr>Model Çıktı Zaman Aralığı &nbsp
            {{ form.model_output_interval_in_minutes }} dakika
        </tr>
        <br>
        <br>
        <tr>
            <input style="background-color:#7d7688; cursor:pointer;"
                   value="ungrib.exe Programını Çalıştır"
                   type="submit"
                   name="ungrib.exe"
                   id="ungrib.exe"
                   onclick="var modal = document.getElementById('myModal');modal.style.display = 'block';">
        </tr>
        <br>
        <br>
        <hr>
        <br>
        </tbody>
    </table>
</form>
<p> NOT: Başlangıç ve sınır koşulu olarak NCEP/GFS modelinin çıktıları kullanılmaktadır. 0.5 derece çözünürlükteki
    GFS verilerinin sahip olduğu en
    yüksek zaman frekansı 3 saattir. </p>

<p><em> NOT: Başlangıç ve bitiş saatlerinin UTC olarak girilmesi gerektiğini unutmayın.</em></p>
{% endblock content %}
