{% extends 'base.html' %}
{% block content %}
<h2>{{ form.title }}</h2>
<form method="post" action="{{ url_for('run_wrf_bp.wps') }}">
    {{ form.hidden_tag() }}
    <table>
        <tbody>
        <tr>
            {{ form.east_west_grid_count.description }} &nbsp &nbsp
            {{ form.east_west_grid_count }}
        </tr>
        <br>
        <br>
        <tr>
            {{ form.north_south_grid_count.description }} &nbsp &nbsp
            {{ form.north_south_grid_count }}
        </tr>
        <br>
        <br>
        <tr>
            {{ form.grid_resolution.description }} &nbsp &nbsp
            {{ form.grid_resolution }} km
        </tr>
        <br>
        <br>
        <tr>
            {{ form.ref_lat.description }} &nbsp &nbsp
            {{ form.ref_lat }}
        </tr>
        <br>
        <br>
        <tr>
            {{ form.ref_lon.description }} &nbsp &nbsp
            {{ form.ref_lon }}
        </tr>
        <br>
        <br>
        <tr>
            {{ form.true_lat_1.description }} &nbsp &nbsp
            {{ form.true_lat_1 }}
        </tr>
        <br>
        <br>
        <tr>
            {{ form.true_lat_2.description }} &nbsp &nbsp
            {{ form.true_lat_2 }}
        </tr>
        <br>
        <br>
        <p>NOT: WPS adımında belirlediğiniz alanın projeksiyonu Lambert olarak ayarlanmıştır. Parametreleri eksiksiz
            giriniz.
        </p>
        <br>
        <br>
        <tr>
            <input style="background-color:#7d7688; cursor:pointer;"
                   value="İlerle"
                   type="submit"
                   name="geogrid.exe"
                   id="geogrid.exe">
        </tr>
        </tbody>
    </table>
</form>
{% endblock content %}