{% extends "base.html" %}
{% block content %}
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="loader">
        </div>
        <p>WRF modeli çalışıyor. Lütfen bekleyiniz.</p>
    </div>
</div>

<h2> 4) Modeli çalıştırın. </h2>
<form method="post" action="{{ url_for('run_wrf_bp.wrf') }}">
    {{ form.hidden_tag() }}
    <table>
        <tbody>
        <tr>
            <h4>{{ form.microphy.description }}</h4>
            {% for subfield in form.microphy %}
                {{ subfield }}{{ subfield.label }} <br><br>
            {% endfor %}
        </tr>
        <tr>
            <h4>{{ form.pbl.description }}</h4>
            {{ form.pbl }}
        </tr>
        <br>
        <tr>
        <h4>{{ form.cumulus.description}}</h4>
            {{ form.cumulus }}
        </tr>
        <br>
        <tr>
        <h4>{{ form.core.description }}</h4>
            {{ form.core }}
        </tr>
        <br>
        <br>
        <br>
        <tr>
            <input value="Modeli Çalıştır"
                   type="submit"
                   name="modelrun"
                   id="modelrun"
                   onclick="var modal = document.getElementById('myModal');modal.style.display = 'block';">
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}
