{% extends 'base.html' %}

{% block content %}
<div class="summary" style="padding-top: 30px;">
    <h2><span style="color: blue;">{{ selected_file }}</span> dosyasının özeti</h2>
    <div class="summary-variable-list" style="padding-top: 15px; font-size: 20px;">
        <lu>
            {% for key, val in current_file_summary.items() %}
            <li><span style="font-weight: bold; color: red;">{{ key }}:</span> {{ val }}</li>
            <br>
            {% endfor %}
        </lu>
    </div>
</div>
<button onclick="window.location.href='{{ url_for('map_bp.index') }}';">
    Görselleştir
</button>

{% endblock %}