<!DOCTYPE html>
<html lang="tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
<br>
<br>
<div class="navbar-content" style="text-align: center; padding: 10px 15px;">
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('run_wrf_bp.index') }}">Run WRF</a>
        <a href="{{ url_for('file_selection_bp.index') }}">Select Files</a>
        <a href="{{ url_for('map_bp.index') }}">Create Maps</a>
    </nav>
</div>
<hr>
<div class="content" style="text-align: center;">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <div align="center">
        <img style="width:10%;padding-top:5%;"
             src=" {{ url_for('static', filename='itulogo.png') }}" alt="logo">
    </div>
</footer>
</body>
</html>
